footer {
    margin: 5rem auto 0 auto;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        a {
            text-decoration: none;
            color: $white; 
        }
        a:hover {
            color: $accent;
        }
    }
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
           margin: 0 auto;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 1rem 0;
            display: flex;
            li {
                margin-right: 10%;
                a {
                    font-size: 2rem;
                    color: $white;
                }
            }
        }
    }
}