form {
    background-color: $primary;
    border: 3px solid $accent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: calc(0.3rem + 1vw);
    line-height: 1.6;
    fieldset {
        background-color: $primary;
        border: 0;
        margin-bottom: 1rem;
        p {
            font-size: calc(0.5rem + 1vw);
            border-bottom: 3px solid $secondary;
            text-transform: uppercase;
        }
    }
    .answers {
        label {
            padding: 1rem;
        }
        label:hover {
            background-color: $accent;
            cursor: pointer;
            color: $black;
        }
        input[type="radio"]:checked + label {
            background: $accent;
            color: $black;
            img {
                border: 5px solid $accent;
                background: transparent;
                padding: 0;
            }
        }
    }
}

fieldset.question1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    .answers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
}

fieldset.question2 {
    img {
    border-top: 5px solid transparent;
  
    }
    img:hover {
        border-top: 5px solid $accent;
    }
}

fieldset.question3 {
    display: flex;
    flex-direction: column;
    .answers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .ans {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    } 
}

fieldset.question2, fieldset.question4, fieldset.question5 {
    .answers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        text-align: center;
        input[type=“radio”]{visibility:hidden;}
        label {
            padding: 0;
            text-transform: capitalize;
            display: grid;
            align-self: center;
        }
        img {
            width: 100%;
        }
    } 
}

.submitContainer {
    margin: 2rem 0 1.5rem 0;
    input {
        text-transform: uppercase;
        padding: 1rem;
        border: none;
        background: $secondary;
        color: $white;
    }
        input:hover {
            background: $accent;
            color: $black;
    }
}
