form {
    font-size: calc(0.3rem + 1vw);
    line-height: 1.6;
    background-color: $primary;
    border: 3px solid $accent;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    fieldset {
        background-color: $primary;
        border: 0;
        margin-bottom: 1rem;
        p {
            font-size: calc(0.5rem + 1vw);
            text-transform: uppercase;
            border-bottom: 3px solid $secondary;
        }
    }
    .answers {
        label {
            padding: 1rem;
        }
        label:hover {
            color: $black;
            background-color: $accent;
            cursor: pointer;
        }
        input[type="radio"]:checked + label {
            color: $black;
            background: $accent;
            img {
                background: transparent;
                border: 5px solid $accent;
                padding: 0;
            }
        }
    }
}

fieldset.question1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    .answers {
        display: flex;
        justify-content: space-around;
    } 
}

fieldset.question2 {
    img {
    border-top: 5px solid transparent;
    }
    img:hover {
        border-top: 5px solid $accent;
    }
}

fieldset.question3 {
    display: flex;
    flex-direction: column;
    .answers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .ans {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    } 
}

fieldset.question2, fieldset.question4, fieldset.question5 {
    .answers {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        input[type=“radio”]{
            visibility:hidden;
        }
        label {
            text-transform: capitalize;
            padding: 0;
            display: grid;
        }
        img {
            width: 100%;
        }
    } 
}

.submitContainer {
    margin: 2rem 0;
    input {
        text-transform: uppercase;
        color: $white;
        background: $secondary;
        border: none;
        padding: 1rem;
    }
    input:hover {
        color: $black;
        background: $accent;
    }
}


// MEDIA QUERIES
@media (max-width:710px) {
    form {
        fieldset {
            p {
            font-size: calc(0.3rem + 1vw);
            }
        }
    }
    fieldset.question5 {
        .answers {
            .answer2, .answer3, .answer4 {
                label {
                    img {
                        padding-top: 1.5rem;
                    }
                }
            }
        } 
    }
}

@media (max-width: 600px) {
    form {
        fieldset {
            p {
            font-size: calc(0.5rem + 1vw);
            }
        }
        label {
            font-size: calc(0.5rem + 1vw);
        }
    }
    fieldset.question1 {
        .answers {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 8%;
            .ans {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        } 
    }
    fieldset.question2 {
        img {
        border-top: 5px solid transparent;
        }
        img:hover {
            border-top: 5px solid $accent;
        }
    }
    fieldset.question3 {
        display: flex;
        flex-direction: column;
        .answers {
            display: grid;
            grid-gap: 8%;
            grid-template-columns: repeat(2, 1fr);
            .ans {
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        } 
    }
    fieldset.question2, fieldset.question4, fieldset.question5 {
        .answers {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        } 
    }
    fieldset.question5 {
        .answers {
            .answer2, .answer3, .answer4 {
                label {
                    img {
                        padding-top: 0rem;
                    }
                }
            }
        } 
    }
}