section {
    .resultWrapper {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        border: 3px solid $accent;
        background: $secondary;
        display: flex;
        flex-direction: column;
        h3 {
            text-transform: uppercase;
            background: $primary;
            font-size: calc(0.5rem + 1.5vw);
        }
        .image {
            width: 49%;
            margin: 0 auto;
            padding: 2%;
            background-color: $accent;
        }
        h2.bandName {
            color: $primary;
            font-family: 'Berkshire Swash', sans-serif;
            font-size: calc(2rem + 1.5vw);
            margin: 1rem 0;
        }
        p.suggestedSong {
            font-size: calc(0.4rem + 1vw);
            margin: 0;
            font-style: italic;
        }
        img {
            width: 100%;
        }
        input {
            text-transform: uppercase;
            padding: 1rem;
            border: none;
            margin: 0 auto;
            background: $primary;
            color: $white;
            margin-bottom: 2rem;
        }
        input:hover {
            background: $accent;
            color: $black;
    }
    }
}